Makefile
config.h
config.log
config.status
doc/Makefile
doc/doxygen.cfg
examples/.deps/
examples/Makefile
libtool
libusb-1.0.pc
libusb/.deps/
libusb/Makefile
libusb/os/.deps/
stamp-h1
tests/.deps/
tests/Makefile
libusb/.libs/
libusb/*.la
libusb/*.lo
libusb/*.o
libusb/os/.dirstamp
libusb/os/.libs/
libusb/os/*.lo
libusb/os/*.o